<%- include('partials/header') %>
    <main>
        <h1><%= title%></h1>
        <div class="student-info">
            <h1>Student Information</h1>
            <p>Name: <%= student_info.name %></p>
            <p>Id #: <%= student_info.id %></p>
            <p>Email: <%= student_info.email %></p>
            <p>Address: <%= student_info.address %></p>
        </div>
    </main>
<%- include('partials/footer') %>